$font-family-main: "Poppins", arial, helvetica, sans-serif;
$font-family-additional: "Manrope", arial, helvetica, sans-serif;
$font-family-menu: "Roboto", arial, helvetica, sans-serif;
$font-family-logo: "Inter", arial, helvetica, sans-serif;

$color-primary: #000;
$color-secondary: #8d8d8d;
$color-background: #f5f5f5;
$color-white: #fff;
